body {
  text-align: center;
  background-repeat: repeat;
  background-position: 0px 0px;
}

.os-scrollbar-handle {
  background: #FF5722 !important;
}

div.MuiDialog-container > div.MuiPaper-root {
  border: solid 2px #1976D2;
}
